.root {
    --color-01: black;
    --color-02: white;
    --color-03: darkgray;
    --color-04: lightgray;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-01: ;
        --color-02: black;
        --color-03: lightgray;
        --color-04: darkgrey;
    }
}